* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: arial;
  background-color: #eee;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.container.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 0.875rem;
}
.sidebar img {
  width: 80px;
  border-radius: 50%;
  margin: 15px 70px;
}
.menutoggles {
  display: none;
}
header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: sticky;
  top: 0;
  z-index: 99;
}
.header li a {
  text-decoration: none;
  color: #082032;
}
.logo h1 {
  font-size: 1.5rem;
}

.logo span {
  color: crimson;
}
.navigation {
  list-style: none;
  display: flex;
}
.navigation li {
  margin-left: 1rem;
  font-size: 1.1rem;
  padding: 0.4rem;
}
.navigation a.home {
  border-bottom: 2px solid crimson;
}
.navigation a:hover {
  border-bottom: 2px solid crimson;
}
.sidebar-links a {
  text-decoration: none;
  color: #eee;
}

.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 270px;
  background-color: #161a2d;
  padding: 25px 10px;
}

.sidebar-links li {
  list-style: none;
  padding: 20px 0;
  margin-top: 15px;
  text-align: center;
}
.sidebar h4 {
  color: #fff;
  margin: 10px 0;
  white-space: nowrap;
  text-align: center;
  font-size: 20px;
}

.sidebar-links li:hover {
  background-color: #ffffff2d;
  border-radius: 4px;
}
main {
  margin: 0 0 0 270px;
}
main .col {
  width: 80%;
}
.post .post-img {
  width: 100%;
  margin: 15px 0 0 15px;
  border-radius: 15px;
}
.col3 {
  width: 80%;
}
.post-img3 {
  width: 100%;
  margin: 40px 0 0 15px;
  border-radius: 10px;
}
.col2 {
  width: 80%;
}
.post-image2 {
  width: 100%;
  margin: 40px 0 0 15px;
  border-radius: 10px;
}
h2 {
  font-size: 3rem;
  font-weight: 600px;
}
h3 {
  font-size: 2rem;
}
.container-main p {
  line-height: 2em;
  color: #4b4b4b;
  font-size: 20px;
  margin: 10px;
}
.container-main .more-content {
  display: none;
}
.read-more-botton {
  cursor: pointer;
  color: blue;
}

.container-main img:hover {
  position: relative;
  top: -4px;
  cursor: pointer;
}
.read-more-botton:hover {
  text-decoration: underline;
}
.footer-container {
  margin: 0 0 0 270px;
  background-color: #161a2d;
  padding: 5px 20px;
  text-align: center;
  margin: 300px 0 0 0;
}
.footer-container p {
  color: white;
  font-size: 20px;
  align-items: center;
}
